<div *ngIf="beer$ | async as beer"
     class="outer-container"
     [ngStyle]="{'background-image': 'url(' + (breweryIconSrc | async)  + ')'}">
  <div class="inner-container">
    <div class="header">
      <button mat-icon-button aria-label="Schau alle deine Biere an"
              routerLink="/overview"
              [queryParams]="{beerId:''}"
              queryParamsHandling="merge">
        <mat-icon>apps</mat-icon>
      </button>
    </div>
    <div class="info">
      <img *ngIf="beer.beer.beerIcon" mat-card-md-image [src]="beerIconSrc | async">
      <div class="text">
        <div>
          <div class="mat-small">Name:</div>
          <div class="mat-display-3">{{beer.beer.name}}</div>
        </div>
        <div>
          <div class="mat-small">Brauerei:</div>
          <div class="mat-display-3">{{beer.beer.brewery}}</div>
        </div>
        <div *ngIf="beer.beer.slogan" class="mat-display-1">{{beer.beer.slogan}}</div>
      </div>
    </div>
    <div class="user-stuff" *ngIf="getUser(beer) as user">
      <div class="mat-h2">Was hast du gedacht: <span class="guessed mat-h1">{{user.guessed}}</span></div>
      <div class="mat-h2">Wie gut wars:
        <app-star-rating [disabled]="true" [rating]="user.rating"></app-star-rating>
      </div>
      <div *ngIf="beer.users.length > 1" class="other-users">
        Was haben die anderen:
        <div *ngFor="let otherUsers of beer.users">
          <ng-container *ngIf="otherUsers !== user">
            <div>{{otherUsers.name}}</div>
            <ng-container *ngIf="!!otherUsers.guessed; else notJetRated">
              <div class="guessed mat-h1">{{otherUsers.guessed}}</div>
              <app-star-rating [disabled]="true" [rating]="otherUsers.rating"></app-star-rating>
            </ng-container>
            <ng-template #notJetRated>
              Nix hat er!
            </ng-template>
          </ng-container>
        </div>

      </div>
      <div *ngIf="userHasDetailGuess(user.detailGuess)" class="additional-tasting-data-toggle" (click)="additionalTastingDataOpen = !additionalTastingDataOpen">
        Weitere Degustationsangaben
        <mat-icon *ngIf="additionalTastingDataOpen">keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="!additionalTastingDataOpen">keyboard_arrow_down</mat-icon>
      </div>
      <div class="additional-tasting-data" [class.open]="additionalTastingDataOpen">
        <div *ngIf="!!user.detailGuess.color">Farbe: {{user.detailGuess.color}}/5</div>
        <div *ngIf="!!user.detailGuess.opacity">Klarheit: {{user.detailGuess.opacity}}/5</div>
        <div *ngIf="!!user.detailGuess.foam">Schaum: {{user.detailGuess.foam}}/5</div>
        <div *ngIf="!!user.detailGuess.smell">Geruch: {{user.detailGuess.smell}}</div>
        <div *ngIf="!!user.detailGuess.sweetness">Süße: {{user.detailGuess.sweetness}}/5</div>
        <div *ngIf="!!user.detailGuess.sourness">Säure: {{user.detailGuess.sourness}}/5</div>
        <div *ngIf="!!user.detailGuess.bitterness">Bitterkeit: {{user.detailGuess.bitterness}}/5</div>
        <div *ngIf="!!user.detailGuess.intensity">Intensität: {{user.detailGuess.intensity}}/5</div>
        <div *ngIf="!!user.detailGuess.length">Abgang: {{user.detailGuess.length}}/5</div>
        <div *ngIf="!!user.detailGuess.otherTastes">Geschmäcker: {{user.detailGuess.otherTastes}}</div>
      </div>
    </div>
    <div class="description">
      <div class="mat-body-2">Beschreibung:</div>
      <div [innerHTML]="beer.beer.description" class="mat-h2"></div>
      <div [innerHTML]="beer.beer.hints"></div>
    </div>
    <div class="additional-info">
      <div><span class="mat-body-2">Alkohol:  </span>{{beer.beer.alcohol}}%</div>
      <div><span class="mat-body-2">Stammwürze:  </span>{{beer.beer.originalWort}}°P</div>
      <div>
        <div class="mat-body-2">Zutaten:</div>
        <div>{{beer.beer.ingredients}}</div>
      </div>
    </div>
    <div class="website">
      <span class="mat-body-2">Website:  </span>
      <a [href]="beer.beer.website">{{beer.beer.website}}</a>
    </div>
  </div>
</div>
